* {
    box-sizing: border-box;
}
@font-face {
    font-family: fonts;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}


body {
    margin: 0;
    background-color: rgba(31, 49, 79, 1);
    font-family: fonts;
}


.p03 {
    font-size: 22px;
    font-weight: 700;
    color:  rgba(0, 0, 0, 1);
    text-align: center;
    justify-content: center;
    margin-top: -180px;
    margin-left: -150px;
}
.p04 {
    font-size: 15px;
    font-weight: 400;
    color:  rgba(125, 136, 158, 1);
    margin-left: -150px;
    text-align: center;
   
}
.parent {
    width:320px ;
    height:497px ;
    background-color: rgba(255, 255, 255, 1);
    margin-top:152px ;
    margin-left:560px ;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child2 {
    width:280px ;
    height:240px ;
    background-color:rgba(31, 49, 79, 1) ;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: -5px;
}

